contrib/rfabbri/mw/app/matlab/BlueCCal
contrib/rfabbri/mw/app/matlab/MatlabFns
contrib/rfabbri/mw/app/matlab/Toolbox_Fundamental_matrix
contrib/rfabbri/mw/app/matlab/all_recs.fig
contrib/rfabbri/mw/app/matlab/all_recs_old.fig
contrib/rfabbri/mw/app/matlab/calibr_v30.tar.gz
contrib/rfabbri/mw/app/matlab/contour_simple
contrib/rfabbri/mw/app/matlab/data-handling/dan-bundler-matlab-code.zip
contrib/rfabbri/mw/app/matlab/epipolar
contrib/rfabbri/mw/app/matlab/fessler.tgz
contrib/rfabbri/mw/app/matlab/kahl
contrib/rfabbri/mw/app/matlab/kanade-20-years-on
contrib/rfabbri/mw/app/matlab/ma-book/addons.zip
contrib/rfabbri/mw/app/matlab/ma-book/examples-code.tar.gz
contrib/rfabbri/mw/app/matlab/ma-book/examples-code.zip
contrib/rfabbri/mw/app/matlab/ma-book/lady.gif
contrib/rfabbri/mw/app/matlab/ma-book/oldhouse2.zip
contrib/rfabbri/mw/app/matlab/multicamselfcal.ver-1_0.release-1.tar.gz
contrib/rfabbri/mw/app/matlab/octave-vision-040210.tgz
contrib/rfabbri/mw/app/matlab/pedagogical_bundle.tgz
contrib/rfabbri/mw/app/matlab/rf-vgg-20081123.tar.gz
contrib/rfabbri/mw/app/matlab/segbench
contrib/rfabbri/mw/app/matlab/sift-0.9.17.tar.gz
contrib/rfabbri/mw/app/matlab/silcalib-1.0
contrib/rfabbri/mw/app/matlab/sonka
contrib/rfabbri/mw/app/matlab/sonka-3dfns.tar.gz
contrib/rfabbri/mw/app/matlab/superpixels
contrib/rfabbri/mw/app/matlab/superpixels.tar.gz
contrib/rfabbri/mw/app/matlab/three_view_triangulation
contrib/rfabbri/mw/app/matlab/torr/birch_match.dll
contrib/rfabbri/mw/app/matlab/torr/bugfixes.doc
contrib/rfabbri/mw/app/matlab/torr/license.doc
contrib/rfabbri/mw/app/matlab/torr/patch_match.dll
contrib/rfabbri/mw/app/matlab/torr/readme.doc
contrib/rfabbri/mw/app/matlab/torr/tab.cor
contrib/rfabbri/mw/app/matlab/torr/table.fmatches
contrib/rfabbri/mw/app/matlab/torr/table.matches
contrib/rfabbri/mw/app/matlab/torr/torr_birch_match.dll
contrib/rfabbri/mw/app/matlab/torr/torr_max3x3.dll
contrib/rfabbri/mw/app/matlab/torr/torr_patch_match.dll
contrib/rfabbri/mw/app/matlab/torr/torrsam.ps
contrib/rfabbri/mw/app/matlab/torr/torrsam.zip
contrib/rfabbri/mw/app/matlab/tracker-code
contrib/rfabbri/mw/app/matlab/tracker-code-2007.07.24.tar.gz
contrib/rfabbri/mw/app/matlab/triggs/matlab-util.tar.gz
contrib/rfabbri/mw/app/matlab/triggs/pose/COPYRIGHT
contrib/rfabbri/mw/app/matlab/triggs/pose/DOC
contrib/rfabbri/mw/app/matlab/triggs/pose/README
contrib/rfabbri/mw/app/matlab/triggs/pose/homog_to_Rt.ps
contrib/rfabbri/mw/app/matlab/triggs/projrecons-25-Feb-01.tar.gz
contrib/rfabbri/mw/app/matlab/triggs/srinivasan
contrib/rfabbri/mw/app/matlab/ucla-sift
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/bt.00.02.H
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/bt.000.png
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/bt.002.png
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/bt.004.png
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/bt.006.png
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/chapel.00.01.F
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/chapel00.png
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/chapel01.png
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/keble.000.png
contrib/rfabbri/mw/app/matlab/vgg/vgg_examples/keble.003.png
contrib/rfabbri/mw/app/matlab/vgg/vgg_numerics/vgg_detn.cxx
contrib/rfabbri/mw/app/matlab/vgg/vgg_numerics/vgg_detn.dll
# some stuff in contrib/rfabbri/mw/app/matlab/zhaoyong
contrib/rfabbri/mw/app/matlab/zhaoyong/SIFT_QDEGSAC.rar
contrib/rfabbri/mw/app/matlab/zhaoyong/SIFT_QDEGSAC_rfabbri.zip
contrib/rfabbri/mw/app/matlab/zhaoyong/code-from-eduardo/
contrib/rfabbri/mw/app/matlab/all_pairs_experiment_perturb-maxcount_1000-ransac.mat
contrib/rfabbri/mw/app/matlab/all_pairs_experiment_perturb-maxcount_500-ransac.mat
contrib/rfabbri/mw/app/matlab/matlab_workspace.mat
contrib/rfabbri/mw/algo/dvcpl_distmap_optimize_camera-random_sample_n-workaround
contrib/rfabbri/mw/app/sgui
contrib/rfabbri/mw/tests/mw_test_all
contrib/rfabbri/mw/app/matlab/misc
brcv/rec/dborl/algo/vox_eval_shock_patches/Horse_horse104.xml
brcv/rec/dborl/algo/vox_eval_shock_patches/Horse_horse104_detect_results.xml
brcv/rec/dborl/algo/vox_eval_shock_patches/remoteindexsf4.xml
brcv/rec/dborl/algo/vox_eval_shock_patches/weizmann_horses_dataset_eval_results.xml
out.*
params.xml
input_defaults.xml
vox_mcs_eval
contrib/rfabbri/mw/app/matlab/.gitignore
*.tmp
test-curve-sketch-tmp/
contrib/rfabbri/mw/algo/tests/dat/
